@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/autoplay';
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  

  .mySwiper {
    padding-bottom: 60px !important;
    padding-top: 20px !important;
  }
  .swiper-pagination-bullet {
    background: #d70000 !important;
    transition: 0.5s !important;
  }
  /* .swiper-pagination-bullet-active {
    background: var(--primary) !important;
    width: 30px !important;
    border-radius: 25px !important;
  } */